---
const siteDomein = "https://yakiniku-kizoku.com/system_panel/uploads/images/";

import { Image } from 'astro:assets';
import commonLogo from '../assets/images/common-logo.png';
import telIcon from '../assets/images/tel-icon.png';
import instIcon from '../assets/images/inst-icon.png';
---
<div class="footer">
    <div class="commonFooter">
        <div class="sectionInr">
            <div class="sectionHead">
                <h2 class="sectionHeadTtl">予約・お問い合わせ</h2>
                <p class="sectionHeadDesc">Reserve/Contact</p>
            </div>
            <p class="txt">
                焼肉レストラン貴族のホームページをご覧いただきありがとうございます。<br> ご予約はWeb予約またはお電話、
                <br> お問い合わせはお問い合わせフォームからご連絡ください。
            </p>
            <div class="normalBtnArea">
                <div class="tel">
                    <a href="tel:0474722262" class="telLink link">
                        <Image src={telIcon} alt="電話アイコン画像" class="img" />
                        <p class="telLinkTxt">047-472-2262</p>
                    </a>
                    <p class="hours">[営業時間]<br> 火～木 17:00〜22:00 L.O21:30<br> 金～日 17:00〜22:00 L.O22:30</p>
                </div>
                <div class="btns">
                    <a href="./contact" class="normalBtn reserveBtn">
                        <p class="normalBtnTxt">Web予約</p>
                    </a>
                    <a href="./contact" class="normalBtn contactBtn">
                        <p class="normalBtnTxt">お問い合わせ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer class="sectionBg">
        <div>
            <div class="footerRow">
                <div class="footerInfo">
                    <div class="footerLogo">
                        <Image src={commonLogo} alt="焼肉レストラン貴族 ロゴ画像" class="img" />
                    </div>
                    <div class="footerAddress">
                        <p class="txt">千葉県船橋市前原西4丁目30-1
                        </p>
                        <a href="tel:0474722262" class="footerAddressLink">
                            <p class="txt">Tel.047-472-2262
                            </p>
                        </a>
                    </div>
                </div>
                <nav class="footerLink">
                    <a href="./" class="navLink">
                        <p class="navLinkTxt">ホーム
                        </p>
                    </a>
                    <a href="./commitment" class="navLink">
                        <p class="navLinkTxt">こだわり
                        </p>
                    </a>
                    <a href="./cooking" class="navLink">
                        <p class="navLinkTxt">料理・コース
                        </p>
                    </a>
                    <a href="./drink" class="navLink">
                        <p class="navLinkTxt">ドリンク
                        </p>
                    </a>
                    <a href="./faq" class="navLink">
                        <p class="navLinkTxt">よくある質問
                        </p>
                    </a>
                    <a href="./recruit" class="navLink">
                        <p class="navLinkTxt">求人情報
                        </p>
                    </a>
                    <a href="./store" class="navLink">
                        <p class="navLinkTxt">店舗情報
                        </p>
                    </a>
                    <a href="#" class="navLink">
                        <p class="navLinkTxt">新着情報
                        </p>
                    </a>
                    <a href="./contact" class="navLink">
                        <p class="navLinkTxt">お問い合わせ
                        </p>
                    </a>
                    <a href="#" class="navLink">
                        <p class="navLinkTxt">プライバシーポリシー
                        </p>
                    </a>
                    <a href="#" class="icon">
                        <Image src={instIcon} alt="Instagramアイコン画像" class="icon" />
                    </a>
                </nav>
            </div>
            <div class="footerCopy">
                <p class="txt">&copy; 2024 有限会社湯浅コーポレーション</p>
                <div id="pageTopBtnLink" class="pageTopBtn">
                    <a href="./" class="pageTopBtnLink"></a>
                </div>
            </div>
        </div>
    </footer>
</div>