---
import { Image } from 'astro:assets';
import commonLogo from '../assets/images/common-logo.png';
import telIcon from '../assets/images/tel-icon.png';
import instIcon from '../assets/images/inst-icon.png';
---

<header id="jsHeader" class="header">
    <div class="headerInr">
        <a href="/" class="logo">
            <Image src={commonLogo} alt="焼肉レストラン貴族 ロゴ画像" class="logoImg" />
        </a>
        <nav class="headerNav">
            <a href="commitment" class="navLink">
                <p class="navLinkTxt">こだわり</p>
            </a>
            <a href="/cooking" class="navLink">
                <p class="navLinkTxt">料理・コース</p>
            </a>
            <a href="/drink" class="navLink">
                <p class="navLinkTxt">ドリンク</p>
            </a>
            <a href="/faq" class="navLink">
                <p class="navLinkTxt">よくある質問</p>
            </a>
            <a href="/recruit" class="navLink">
                <p class="navLinkTxt">求人情報</p>
            </a>
            <a href="/store" class="navLink">
                <p class="navLinkTxt">店舗情報</p>
            </a>
            <a href="#" class="navLink">
                <p class="navLinkTxt">新着情報</p>
            </a>
            <a href="#" target="_blank" rel="noopener" class="icon link">
                <Image src={instIcon} alt="Instagramアイコン画像" class="icon" />
            </a>
            <div class="tel">
                <a href="tel:0474722262" class="telLink link">
                    <Image src={telIcon} alt="電話アイコン画像" class="icon" />
                    <p class="telLinkTxt">047-472-2262
                    </p>
                </a>
                <p class="hours">[営業時間]<br> 火～木 17:00〜22:00 L.O21:30<br> 金～日 17:00〜22:00 L.O22:30</p>
            </div>
            <div class="btns">
                <a href="contact" class="normalBtn reserveBtn">
                    <p class="normalBtnTxt">Web予約</p>
                </a>
                <a href="contact" class="normalBtn contactBtn">
                    <p class="normalBtnTxt">お問い合わせ</p>
                </a>
            </div>
        </nav>
    </div>
    <div class="hamburger">
        <p class="span">
        </p>
        <p class="span">
        </p>
        <p class="span">
        </p>
    </div>
    <div class="globalMenuSp">
        <nav class="hUl">
            <div class="hamburgerList">
                <a href="/commitment" class="navLink">
                    <p class="navLinkTxt">こだわり</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/cooking" class="navLink">
                    <p class="navLinkTxt">料理・コース</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/drink" class="navLink">
                    <p class="navLinkTxt">ドリンク</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/faq" class="navLink">
                    <p class="navLinkTxt">よくある質問</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/recruit" class="navLink">
                    <p class="navLinkTxt">求人情報</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="/store" class="navLink">
                    <p class="navLinkTxt">店舗情報</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="#" class="navLink">
                    <p class="navLinkTxt">新着情報</p>
                </a>
            </div>
            <div class="hamburgerList">
                <a href="tel:0474722262" class="telLink navLink">
                    <Image src={telIcon} alt="電話アイコン画像" class="icon" />
                    <p class="telLinkTxt">047-472-2262</p>
                </a>
            </div>
        </nav>
    </div>
</header>